@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100..800&display=swap');
:root{
    --cor-de-fundo:#6E1A37;
    --cor-texto-principal:#F3F4F4;
}

body{font-family: "Trispace", sans-serif;}

body{
    background: var(--cor-de-fundo);
    color: var(--cor-texto-principal);
    font-family: "Changa", sans-serif;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;

}
.titulo-principal span{
    color:#0AC4E0;
}
.botao{
    background-color: var (--botao-inativo);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}
