@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100..800&display=swap');
:root{
    --cor-de-fundo:#B500B2;
    --cor-texto-principal:#F5AD18;
}

body{font-family: "Trispace", sans-serif;}

body{
    background: var(--cor-de-fundo);
    color: var(--cor-texto-principal);
    font-family: "Changa", sans-serif;
}
